<template name="skeduo">
	<h1 class="page-title">Skeduo</h1>
	<p class="introduction-text">Professional Networking on Cruise Control</p>
	<p class="introduction-text"><a href="http://www.skeduo.com/" target="_blank">Sign Up for Early Access</a></p>

	<div class="skeduo-screens-slider owl-carousel" role="region" aria-label="Skeduo App Screenshots">
    	<div><img src="/images/pictures/projects/skeduo/sign-in.png" alt="Sign In Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/discover.png" alt="Discover Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/dashboard.png" alt="Dashboard Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/setup-basic.png" alt="Setup Basic Preferences Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/setup-preferences-2.png" alt="Setup Preferences Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/setup-schedule.png" alt="Setup Schedule Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/account.png" alt="Account Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/meetings.png" alt="Meetings Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
    	<div><img src="/images/pictures/projects/skeduo/menu.png" alt="Menu Screen" class="skeduo-slide screen-slide app-screen iphone-6-app-screen"></div>
	</div>
	<!-- <div class="app-screens-block">
		<img src="/images/pictures/projects/skeduo/sign-in.png" alt="" class="app-screen iphone-6-app-screen">
		<img src="/images/pictures/projects/skeduo/discover.png" alt="" class="app-screen iphone-6-app-screen">
		<img src="/images/pictures/projects/skeduo/dashboard.png" alt="" class="app-screen iphone-6-app-screen">
	</div> -->

	<h5 class="project-subheading">Brief</h5>

	<p class="content-text">Develop and launch a professional networking app that promotes regular 1-to-1, face-to-face meetings.</p>

	<h5 class="project-subheading">Background</h5>

	<p class="content-text">Whenever I ask entrepreneurs - &quot;What's the most difficult part in running a startup?&quot; - the top answer is usually &quot;Finding the right people&quot;.</p>

	<p class="content-text">Most felt that 1-to-1, face-to-face encounters are most effective in finding clients and co-founders. Unlike Meetups, which favours quantity over quality, you can get a deeper understanding of the individual, including their background and personality. This will allow you to judge more accurately whether they'd fit into your team.</p>

	<p class="content-text">Many of those same people also wished they'd started networking much earlier. It's much easier to pick from a large network than just a handful.</p>

	<p class="content-text">And Skeduo was born.</p>

	<!-- <div class="app-screens-block">
		<img src="/images/pictures/projects/skeduo/setup-basic.png" alt="" class="app-screen iphone-6-app-screen">
		<img src="/images/pictures/projects/skeduo/setup-preferences-2.png" alt="" class="app-screen iphone-6-app-screen">
		<img src="/images/pictures/projects/skeduo/setup-schedule.png" alt="" class="app-screen iphone-6-app-screen">
	</div> -->

	<h5 class="project-subheading">Branding</h5>

	<p class="content-text">First, we need to identify our niche, dominate it, and expand. Since we are professional designers and developers, and we know the industry and community well, we decided to focus on our own industry first.</p>

	<p class="content-text">The value of the platform lies in providing quality connections, which, in turn, relies on having high-caliber professionals. To attract these individuals, he branding must identify with our target audience. We need to portray a sophisticated and professional feel.</p>

	<p class="content-text">For the colour scheme, purple and gold were chosen as the primary colours, carrying connotations of royalty. Green was added as a complimentary colour.</p>

	<p class="content-text">We wanted the name to reflect the intentions of the app. After much brainstorming, we voted for 'Skeduo'. It's a homophone of 'schedule', and contains the word &ldquo;duo&rdquo;, meaning 'two'. Skeduo is an app that <em>schedules</em> <em>two</em>-person meetings! How fitting!</p>

	<div class="skeduo-logos-container">
		<div>
			<img class="skeduo-logo" src="/images/logos/skeduo.png" alt="">
			<p>Skeduo logo</p>
		</div>
		<div>
			<img class="skeduo-logo-compact" src="/images/logos/skeduo-compact.png" alt="">
			<p>Skeduo compact logo</p>
		</div>
	</div>

	<h5 class="project-subheading">Development</h5>

	<p class="content-text">User acquisition should be done long before launching your product. So before a single line of code was written, we crafted a landing page to allow signups for priority access. We used skeduo, the landing page template we designed and open-sourced.</p>

	<div class="skeduo-screenshots-slider owl-carousel" role="region" aria-label="Skeduo Landing Page Screenshots">
    	<div><img src="/images/pictures/projects/skeduo/skeduo-1.png" alt="" class="skeduo-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/skeduo/skeduo-2.png" alt="" class="skeduo-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/skeduo/skeduo-3.png" alt="" class="skeduo-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/skeduo/skeduo-4.png" alt="" class="skeduo-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/skeduo/skeduo-5.png" alt="" class="skeduo-slide screenshot-slide"></div>
	</div>

<!-- 	<img class="page-screenshot" src="/images/pictures/projects/skeduo/skeduo-1.png" alt="">
	<img class="page-screenshot" src="/images/pictures/projects/skeduo/skeduo-2.png" alt="">
	<img class="page-screenshot" src="/images/pictures/projects/skeduo/skeduo-3.png" alt="">
	<img class="page-screenshot" src="/images/pictures/projects/skeduo/skeduo-4.png" alt="">
	<img class="page-screenshot" src="/images/pictures/projects/skeduo/skeduo-5.png" alt=""> -->

	<p class="content-text">Next, we used InVision to produce a <a href="http://invis.io/6D511UYFT" target="_blank">prototype</a>. This allowed us to show potential users and get initial feedback, which has been very positive.</p>

	<p class="content-text">Since this is an internal project, it has $0 budget. Everyone believe in the concept and devote our spare time into developing it.</p>

	<p class="content-text">Currently, we are at the development stage, with private beta planned for the beginning of Q2 2016. Stay tuned and please do <a href="http://www.skeduo.com/" target="_blank">sign up</a>! </p>

	<!-- <div class="app-screens-block">
		<img src="/images/pictures/projects/skeduo/account.png" alt="" class="app-screen iphone-6-app-screen">
		<img src="/images/pictures/projects/skeduo/meetings.png" alt="" class="app-screen iphone-6-app-screen">
		<img src="/images/pictures/projects/skeduo/menu.png" alt="" class="app-screen iphone-6-app-screen">
	</div> -->
</template>