<template name="takeoff">
	<h1 class="page-title">Takeoff</h1>
	<p class="introduction-text">Professional Networking on Cruise Control</p>

	<div class="takeoff-screenshots-slider owl-carousel" role="region" aria-label="Takeoff Landing Page Screenshots">
    	<div><img src="/images/pictures/projects/takeoff/screenshots/1.png" alt="" class="takeoff-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screenshots/2.png" alt="" class="takeoff-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screenshots/3.png" alt="" class="takeoff-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screenshots/4.png" alt="" class="takeoff-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screenshots/5.png" alt="" class="takeoff-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screenshots/6.png" alt="" class="takeoff-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screenshots/7.png" alt="" class="takeoff-slide screenshot-slide"></div>
	</div>

	<h5 class="project-subheading">Brief</h5>

	<p class="content-text">Before developing the <a href="{{pathFor route='projects-skeduo'}}">Skeduo</a> app, we wanted to create a landing page where potential users can sign up, so they can test out the app first.</p>

	<p class="content-text">But instead of just creating a landing page for us, we wanted to create something great that other people can use as well.</p>

	<div class="takeoff-screens-slider owl-carousel" role="region" aria-label="Takeoff Dummy App Screenshots">
    	<div><img src="/images/pictures/projects/takeoff/screens/about.png" alt="" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screens/checkout.png" alt="" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screens/feed.png" alt="" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screens/guide.png" alt="" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screens/home.png" alt="" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screens/login.png" alt="" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/takeoff/screens/profile.png" alt="" class="takeoff-slide screen-slide"></div>
	</div>

	<h5 class="project-subheading">Approach</h5>

	<p class="content-text">We were greatly inspired by <a href="https://www.yourprimer.com/" target="_blank">Google Primer’s landing page</a>, and wanted to do something similar and open-source it.</p>

	<p class="content-text">For this, we wanted to use our own scroll framework, <a href="https://github.com/d4nyll/smartscroll" target="_blank">smartscroll</a>, which handles all scroll events and prevent complications with inertia scrolling.</p>

	<p class="content-text">After brainstorming with names, we settled on the name “Takeoff”, to play with the irony that it is called a “landing page” but we want apps to take off and gain traction.</p>
</template>