<template name="process">
	<h1 class="page-title">The Brewing Process</h1>
	<p class="read-time">5 min</p>
	<p class="content-text">Many of our clients come from a business or management background, unfamiliar with the web development process. A project can consume considerable capital, so going in blind can be daunting.</p>

	<p class="content-text">Using the experience of past projects, we have established and refined our own unique development process - The Brewing Process. It has helped us stay organized, and be clear of our progress.</p>

	<p class="content-text">We wish to share The Brewing Process with you - our potential clients. We want to make everything as transparent as possible, so you will be at ease throughout the process. It&rsquo;s not perfect, but will evolve with every project.</p>

	<p class="content-text">Below, we present a rough idea of what you can expect from a large-scale project, starting from scratch.</p>

	<img src="/images/pictures/process-hero-proposal.png" alt="Proposal" title="Proposal" class="process-hero">

	<p class="content-text">The Brewing Process starts with an informal, face-to-face meeting. Apart from establishing rapport and putting the client at ease, the meeting helps us understand the goal of the project.</p>

	<p class="content-text">Soon after, we&rsquo;d send the client a comprehensive questionnaire. It examines the project scope, target audience, budget, and schedule, amongst others, and takes 1 to 2 hours to complete. The more details provided, the better aligned we can be with your expectations.</p>

	<p class="content-text">Based on the questionnaire, we draft a proposal that we&rsquo;d review in-person. The proposal outlines a breakdown of the schedule and costs, so you know exactly how the time and money are allocated.</p>

	<p class="content-text">It usually takes 5 - 10 days to finalize the agreement, by which time everyone&rsquo;s expectations are aligned.</p>

	<img src="/images/pictures/process-hero-planning.png" alt="Research and Planning" title="Research and Planning" class="process-hero">

	<p class="content-text">We build upon the initial research conducted whilst drafting the agreement.</p>

	<p class="content-text">First, we map out a Minimum Viable Product (MVP) - the simplest solution that fulfills all requirements. We focus on these essential features first. We&rsquo;d then probe competitors to make sure no important features were missed.</p>

	<p class="content-text">Next, we will decide which technology stack is best suited for this project.</p>

	<p class="content-text">Finally, we plan the Information Architecture - the contents of all pages and user navigation.</p>
	<p class="content-text">After revisions, we present the plan to the client for review.</p>

	<img src="/images/pictures/process-hero-design.png" alt="Design" title="Design" class="process-hero">

	<p class="content-text">We create wireframes to visualize our plan, outlining the locations of the contents on every page, for every breakpoint.</p>

	<p class="content-text">Next, we add colors and styles. We base the first sets of designs on the client&rsquo;s preferences and our own vision. We will then conduct iterations of feedback and revisions until the design is confirmed. The number of iterations is constrained by time and budget.</p>

	<p class="content-text">To add the cherry on the cake, we'd use tools such as InVision or Marvel to produce a prototype/mockup that you can interact with. This will mimic the experience of the end user in the eventual application.</p>

	<img src="/images/pictures/process-hero-development.png" alt="Development" title="Development" class="process-hero">

	<p class="content-text">Development is split into two parts - frontend and backend. Frontend code constructs all user-facing components, using HTML, CSS, and JavaScript. Backend code forms the logic of the application, using a variety of languages, frameworks, and databases.</p>

	<p class="content-text">At the end, we combine the two parts to form a functional application, which we further scrutinized to eradicate remaining bugs. Lastly, we deliver it to the client for User Acceptance Testing (UAT).</p>

	<img src="/images/pictures/process-hero-deployment.png" alt="Deployment" title="Deployment" class="process-hero">

	<p class="content-text">As soon as the client gives the go-ahead, we deploy. For websites, this means configuring the web server and DNS settings. For mobile applications, this means packaging and submitting to Google Play and/or Apple App Store.</p>

	<img src="/images/pictures/process-hero-post-launch.png" alt="Post-Launch" title="Post-Launch" class="process-hero">

	<p class="content-text">We usually set up web analytics to collect visitor data, which allows you to identify your target demographic. We can also set up uptime monitoring, notifying you within minutes in the rare case that your site cannot be reached.</p>

	<p class="content-text">Brew provides user and developers documentation. We transfer all source files and relevant accounts details to the client.</p>

	<p class="content-text">Additional changes, new features, enhancements, and maintenance may be discussed at this stage. Otherwise, it&rsquo;s &lsquo;Mission Accomplished&rsquo;!</p>

	<img src="/images/pictures/process-hero-lets-go.png" alt="Let's go" title="Let's go" class="process-hero">

	<p class="content-text">The Brewing Process is a hybrid of the classic waterfall and the modern agile. During planning and design, we encourage frequent meetings and rapid iterations to draw out the best ideas. As we progress into development, we adopt a more linear approach that enables us to focus and get the job done.</p>

	<p class="content-text">You&rsquo;re welcomed to join at any stage. You can bring a complete design and ask us only to code and deploy, we&rsquo;d be happy to help.</p>

	<p class="content-text">We boast an amicable relationship with our clients. Indeed, most new clients come via referrals. We hope this, too, marks the start of something great, so <a href="{{pathFor route='contact-us'}}">get in touch</a> today!
	</p>
</template>