$menu-width: 185px;
$menu-link-height: 40px;
$menu-footer-height: 110px;
$menu-toggle-button-width: 36px;
$menu-toggle-button-height: 24px;

$container-padding-standard: 20px;
$container-padding-mobile: 50px;

$standard-vertical-spacing: 130px;
$large-vertical-spacing: 196px;