<template name="projects">
	<h1 class="page-title">Projects</h1>
	<p class="introduction-text">We endeavour to give you our very best.</p>
	<table class="projects-table sortable" data-sortable="">
		<thead>
			<tr class="projects-table__header-row">
				<th class="projects-table__heading-cell projects-table__cell-year" data-sorted="true" data-sorted-direction="descending">Year</th>
				<th class="projects-table__heading-cell projects-table__cell-project" data-sorted="false">Project</th>
				<th class="projects-table__heading-cell projects-table__cell-type" data-sorted="false">Type</th>
				<th class="projects-table__heading-cell projects-table__cell-client" data-sorted="false">Client</th>
			</tr>
		</thead>
		<tbody>
			<!--tr class="projects-table__row">
				<td class="projects-table__cell">2016</td>
				<td class="projects-table__cell">Airplay in-store Magazine</td>
				<td class="projects-table__cell">iOS Application</td>
				<td class="projects-table__cell">Airplay Limited</td>
			</tr-->
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2017</td>
				<td class="projects-table__cell projects-table__cell-project">Ubeyond</td>
				<td class="projects-table__cell projects-table__cell-type">Community Platform</td>
				<td class="projects-table__cell projects-table__cell-client">Ubeyond</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2016</td>
				<td class="projects-table__cell projects-table__cell-project">Reserva Iberica Online Shop</td>
				<td class="projects-table__cell projects-table__cell-type">E-Commerce</td>
				<td class="projects-table__cell projects-table__cell-client"><a href="http://www.reservaiberica.hk/" target="_blank">Reserva Iberica</a></td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2016</td>
				<td class="projects-table__cell projects-table__cell-project"><a href="http://www.thespanishacademy.hk/" target="_blank">The Spanish Academy Website</a></td>
				<td class="projects-table__cell projects-table__cell-type">Website with CMS</td>
				<td class="projects-table__cell projects-table__cell-client"><a href="http://www.thespanishacademy.hk/" target="_blank">The Spanish Academy</a></td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2016</td>
				<td class="projects-table__cell projects-table__cell-project"><a href="http://www.gosmartix.com/" target="_blank">Smartix</a></td>
				<td class="projects-table__cell projects-table__cell-type">Web &amp; Mobile Application</td>
				<td class="projects-table__cell projects-table__cell-client">Little Genius</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2016</td>
				<td class="projects-table__cell projects-table__cell-project">Airplay Digital Magazine</td>
				<td class="projects-table__cell projects-table__cell-type">E-Commerce &amp; Point-of-Sale</td>
				<td class="projects-table__cell projects-table__cell-client"><a href="http://www.airplaybar.com/">Airplay</a></td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2016</td>
				<td class="projects-table__cell projects-table__cell-project"><a href="{{pathFor route='projects-skeduo'}}">Skeduo</a></td>
				<td class="projects-table__cell projects-table__cell-type">Web &amp; Mobile Application</td>
				<td class="projects-table__cell projects-table__cell-client">Internal</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2016</td>
				<td class="projects-table__cell projects-table__cell-project"><a href="{{pathFor route='projects-takeoff'}}">Takeoff</a></td>
				<td class="projects-table__cell projects-table__cell-type">Frontend Development</td>
				<td class="projects-table__cell projects-table__cell-client">Internal</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project">CozyOffice</td>
				<td class="projects-table__cell projects-table__cell-type">Planning and Strategy</td>
				<td class="projects-table__cell projects-table__cell-client">Cozyhelp Ltd</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project"><a href="{{pathFor route='projects-bebello'}}">Bebello</a></td>
				<td class="projects-table__cell projects-table__cell-type">E-Commerce</td>
				<td class="projects-table__cell projects-table__cell-client">HKIT Group</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project">Strong Base Investment</td>
				<td class="projects-table__cell projects-table__cell-type">Photo Editing</td>
				<td class="projects-table__cell projects-table__cell-client">Strong Base Investment</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project"><a href="{{pathFor route='projects-techni'}}">Techni Photo</a></td>
				<td class="projects-table__cell projects-table__cell-type">Web Application</td>
				<td class="projects-table__cell projects-table__cell-client">Techni Photo</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project">Jigbell Landing Page</td>
				<td class="projects-table__cell projects-table__cell-type">Frontend Development</td>
				<td class="projects-table__cell projects-table__cell-client">Jigbell</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project">Smartscroll</td>
				<td class="projects-table__cell projects-table__cell-type">jQuery plugin</td>
				<td class="projects-table__cell projects-table__cell-client">Internal</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project">Lethargy</td>
				<td class="projects-table__cell projects-table__cell-type">JavaScript library</td>
				<td class="projects-table__cell projects-table__cell-client">Internal</td>
			</tr>
			<tr class="projects-table__row">
				<td class="projects-table__cell projects-table__cell-year">2015</td>
				<td class="projects-table__cell projects-table__cell-project">danyll.com</td>
				<td class="projects-table__cell projects-table__cell-type">Portfolio Site</td>
				<td class="projects-table__cell projects-table__cell-client">Internal</td>
			</tr>
		</tbody>
	</table>
</template>