<template name="footer">
	<img src="/images/logos/brew.png" class="companyLogo footerLogo" alt="Brew logo">
	<div class="footer__main">
		<div class="footer__info-block">
			<p class="footer__info-block-field">Email</p>
			<p class="footer__info-block-value">dan@brew.com.hk</p>
			<p class="footer__info-block-field">Opening Hours</p>
			<p class="footer__info-block-value">Mon-Fri<br>
			<span class="footer__value-indent"></span>0930-1730<br>Sat, Sun &amp; Public Holidays<br><span class="footer__value-indent"></span>Closed</p>
		</div>
		<div class="footer__info-block">
			<p class="footer__info-block-field">Address</p>
			<p class="footer__info-block-value">Brew Creative Limited<br>Room 1905<br>Nan Fung Centre<br>264-298 Castle Peak Road<br>Tsuen Wan<br>New Territories<br>Hong Kong</p>
			<p class="footer__info-block-field">Company Registration</p>
			<p class="footer__info-block-value">2258190</p>
		</div>
		<div class="footer__social-block">
			<a class="footer__social-link" target="_blank" href="https://twitter.com/brew_hk"><img class="footer__social-icon" src="/images/icons/social-icons/twitter-icon.png" alt="Twitter"></a>
			<a class="footer__social-link" target="_blank" href="https://github.com/brewhk"><img class="footer__social-icon" src="/images/icons/social-icons/github-icon.png" alt="Github"></a>
			<a class="footer__social-link" target="_blank" href="https://www.facebook.com/brewhk/"><img class="footer__social-icon" src="/images/icons/social-icons/facebook-icon.png" alt="Facebook"></a>
			<a class="footer__social-link" target="_blank" href="https://plus.google.com/+brewhk"><img class="footer__social-icon" src="/images/icons/social-icons/google-plus-icon.png" alt="Google Plus"></a>
		</div>
		<div class="footer__qr-code-block">
			<img class="footer__qr-code" src="/images/icons/qrcode-brew.png" alt="">
			<p class="footer__qr-text">Scan the QR Code to reach this website from mobile</p>
		</div>
	</div>
	<p class="footer__copyright">&copy; 2017 Brew Creative Limited. All Rights Reserved.</p>
</template>