<template name="menu">
	<a href="{{pathFor route='home'}}" class="logo-link"><img src="/images/logos/brew.png" class="companyLogo headerLogo" alt="Brew logo"></a>
	<nav class="menu__nav">
		<ul class="menu__nav-list">
			<li class="menu__nav-list-item"><a href="{{pathFor route='home'}}" class="menu__nav-link">Home</a></li>
			<li class="menu__nav-list-item"><a href="{{pathFor route='projects'}}" class="menu__nav-link">Projects</a></li>
			<li class="menu__nav-list-item"><a href="{{pathFor route='solutions'}}" class="menu__nav-link">Solutions</a></li>
			<li class="menu__nav-list-item"><a href="{{pathFor route='process'}}" class="menu__nav-link">Process</a></li>
			<li class="menu__nav-list-item action-button"><a href="{{pathFor route='contact-us'}}" class="menu__nav-link">Contact Us</a></li>
		</ul>
	</nav>
</template>