<template name="solutions">
	<div class="content-block">


		<p class="introduction-text">If you’re looking for individual <a href="{{pathFor route='services'}}">services</a> (e.g. web design, web development, copyediting), please head over to our <a href="{{pathFor route='services'}}">'Services'</a> page.</p>

		<p class="introduction-text">Below we outline some of our more comprehensive solutions.</p>

	</div>
	<div class="solutions-block">
		<div class="solutions-block__graphics">
			<img src="/images/pictures/solutions/klaxon.png" alt="" class="solutions-block__graphics-image">
		</div>
		<div class="solutions-block__text">
			<h3 class="solutions-block__title">The Pragmatic Startup</h3>

			<p class="solutions-block__text-paragraph">Ideas matter. Execution matters more. We can help you establish and refine your startup, giving it the best chance of success.</p>

			<p class="solutions-block__text-paragraph">We’ll perform vital research on our competition and target audience, in order to perfect the idea and achieve product-market fit.</p>

			<p class="solutions-block__text-paragraph">We'll devise a plan, setting realistic milestones, and executing it with precision. After rapid development and launch of our MVP, we monitor user feedback and iterate.</p>

			<p class="solutions-block__text-paragraph">We'll even help you secure appropriate sources of funding and connect you with relevant contacts in the industry.</p>
		</div>
	</div>
	<div class="solutions-block">
		<div class="solutions-block__graphics">
			<img src="/images/pictures/solutions/push-button.png" alt="" class="solutions-block__graphics-image">
		</div>
		<div class="solutions-block__text">
			<h3 class="solutions-block__title">The App Launch</h3>

			<p class="solutions-block__text-paragraph">Looking to develop and launch a mobile/web application? We are the team for you.</p>

			<p class="solutions-block__text-paragraph">First, we'll design a landing page that'll capture potential users. In parallel with social and content marketing, this will build up a strong following organically.</p>

			<p class="solutions-block__text-paragraph">As your user base is growing, our team will assemble your application. At launch, our first-rate application will be greeted with scores of eager customers.</p>

			<p class="solutions-block__text-paragraph">We'll take care of setting up servers, domains, emails, enabling you to focus on refining the business.</p>
		</div>
	</div>
	<div class="solutions-block">
		<div class="solutions-block__graphics">
			<img src="/images/pictures/solutions/lab.png" alt="" class="solutions-block__graphics-image">
		</div>
		<div class="solutions-block__text">
			<h3 class="solutions-block__title">The Viral Element</h3>

			<p class="solutions-block__text-paragraph">A great product deserves an audience.</p>

			<p class="solutions-block__text-paragraph">We'll ensure your brand message conveys social currency, incentivizing users to share your products.</p>

			<p class="solutions-block__text-paragraph">We'll set up newsletters, run contests​, post to social networks and content aggregation sites. We might also adopt guerilla marketing techniques, directly promoting your products on the streets.</p>

			<p class="solutions-block__text-paragraph">We automate large parts of the process, making it easy to maintain.</p>
		</div>
	</div>
	<div class="solutions-block">
		<div class="solutions-block__graphics">
			<img src="/images/pictures/solutions/stamp.png" alt="" class="solutions-block__graphics-image">
		</div>
		<div class="solutions-block__text">
			<h3 class="solutions-block__title">The Retainer</h3>

			<p class="solutions-block__text-paragraph">Startups and corporations alike have odd jobs. You'll need to carry out software and security updates, maintenance and analytics regularly. You may also need a team to help with the occasional content update, bug fixes, support, consultation, and adding new features.</p>

			<p class="solutions-block__text-paragraph">Drafting a new contract every time is impractical.</p>

			<p class="solutions-block__text-paragraph">A retainer package solves that issue. With a retainer, we allocate a set amount of hours each month to fulfill these tasks. This means work is completed in days instead of weeks. Better still, it's more economical because retainer fees are cheaper than the standard fee.</p>

			<p class="solutions-block__text-paragraph">If your current workflow involves a lot of administration and minor changes, sign a retainer with us today.</p>
		</div>
	</div>

	<div class="content-block">
		<p class="introduction-text">If you are not looking for a full-scale solution, we do provide individual <a href="{{pathFor route='services'}}">services</a> too. <a href="{{pathFor route='contact-us'}}">Contact us</a> today to set up a meeting!</p>
	</div>
</template>