<template name="bebello">
	<h1 class="page-title">Bebello</h1>
	<p class="introduction-text">Online Marketplace for Handmade Products in Hong Kong</p>
	<p class="introduction-text"><a href="http://bebello.com.hk/" target="_blank">Official Site</a></p>

	<div class="bebello-screens-slider owl-carousel">
    	<div><img src="/images/pictures/projects/bebello/screens/vendor-page.png" alt="Vendor Page Screen" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screens/cart.png" alt="Cart Screen" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screens/message-thread.png" alt="Message Thread Screen" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screens/orders.png" alt="Orders Screen" class="takeoff-slide screen-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screens/edit-profile.png" alt="Edit Profile Screen" class="takeoff-slide screen-slide"></div>
	</div>

	<h5 class="project-subheading">The Challenge</h5>

	<p class="content-text">The founder of <a href="http://hkhmc.com/" target="_blank">Hong Kong Handmade Community</a>, Alex, approached us in August 2015. At that time, their members only sell through physical stores, and felt a lack of an online presence. So there's a demand for an online handmade marketplace platform to sell products and workshops.</p>

	<p class="content-text">On top of an extremely tight budget, the launch date was set for the Christmas sales. A tall order indeed!</p>

	<h5 class="project-subheading">Execution</h5>

	<p class="content-text">Due to time constraints, we searched hard for existing online marketplace frameworks. Only a few exists; Mayocat came the closest, but it lacked documentation and popularity, and so we decided to build our own using <a href="https://www.meteor.com/" target="_blank">Meteor</a>.</p>

	<img class="home__meteor-logo" src="/images/logos/meteor-text.png" alt="Meteor JavaScript Platform">

	<p class="content-text">For designs, Alex has already completed the branding and done a few professional photo shoots, so we had good materials to work with. We filled the page with imagery and minimized text, focusing on the products. To provide social proof, we used personal shots of the artists to portray our happy users.</p>

	<p class="content-text">We designed around 30 screens for 4 different breakpoints, totaling 120 screens.</p>

	<div class="bebello-screenshots-slider owl-carousel">
    	<div><img src="/images/pictures/projects/bebello/screenshots/browse.png" alt="Browse Page" class="bebello-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screenshots/home.png" alt="Home Page" class="bebello-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screenshots/order.png" alt="Order Page" class="bebello-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screenshots/product.png" alt="Individual Product Page" class="bebello-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/bebello/screenshots/vendor-page.png" alt="Vendor Page" class="bebello-slide screenshot-slide"></div>
	</div>

	<p class="content-text">We used two libraries to save us valuable time - Uploadcare and Braintree.</p>

	<p class="content-text"><a href="https://uploadcare.com/" target="_blank">UploadCare</a> provides a responsive interface that handles uploads, even integrating with services like Dropbox. They also provide a responsive slider and image conversion features without extra costs. With a generous <a href="https://uploadcare.com/pricing/" target="_blank">free plan</a>, good customer service, we would recommend you to try UploadCare for your next project!</p>

	<img class="content-image" src="/images/logos/uploadcare.png" alt="UploadCare logo">

	<p class="content-text"><a href="https://www.braintreepayments.com/" target="_blank">Braintree</a>, a subsidiary of PayPal, handles payments. It's easy-to-use API, <a href="https://www.braintreepayments.com/pricing" target="_blank">simple fee structure</a> and <a href="https://www.braintreepayments.com/features/drop-in" target="_blank">Drop-in UI</a> made setting up the checkout process an ease.</p>

	<img class="content-image" src="/images/logos/braintree.png" alt="Braintree logo">

	<p class="content-text">It took us 3 months to design, develop, and deploy, which is an extremely quick turnaround. The target was December; we delivered by October.</p>

	<h5 class="project-subheading">Post-Launch</h5>

	<p class="content-text">We have since passed the project on to Bebello's internal team, and they've continued to received a lot of traction. Apart from a successful pop-up store opening in Sheung Wan, Bebello has been <a href="http://jumpstartmag.com/news/interview-with-bebello/" target="_blank">featured</a> on <a href="http://jumpstartmag.com/" target="_blank">Jumpstart</a>, the 'Startup Magazine of Hong Kong'.</p>

	<p class="content-text">If you appreciate our work, please get in touch! We'd love to hear from you!<!--And if you have contacts who are looking to undertake a similar project, please help us by sharing this page using the links below!--></p>
</template>