<template name="techni">
	<h1 class="page-title">Techni Photo</h1>
	<p class="introduction-text">Online Photo-Ordering Platform for Schools</p>

	<div class="techni-screenshots-slider owl-carousel" role="region" aria-label="Techni Photo Website Screenshots">
    	<div><img src="/images/pictures/projects/techni/1.png" alt="" class="techni-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/techni/2.png" alt="" class="techni-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/techni/3.png" alt="" class="techni-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/techni/4.png" alt="" class="techni-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/techni/5.png" alt="" class="techni-slide screenshot-slide"></div>
    	<div><img src="/images/pictures/projects/techni/6.png" alt="" class="techni-slide screenshot-slide"></div>
	</div>

	<h5 class="project-subheading">Brief</h5>

	<p class="content-text">Ken runs the largest school photography firm for international schools in Hong Kong. Originally, Ken and his team process each order by hand. This involves sending and receiving orders by post, then manually entering data into the internal system.</p>
    
    <p class="content-text">Given there are close to 100 international schools in Hong Kong, each averaging 1000 students, this is a lengthy process.</p>

    <p class="content-text">So when Ken approached us with this problem, we offered to create an online platform to automate this process. Furthermore, we offered to create a website that runs alongside and provides more online presence.</p>

    <p class="content-text">In anticipation for the next academic year, we had 2 months to design, implement and test the system.</p>

    <img class="content-image content-meteor-logo" src="/images/logos/meteor-text.png" alt="Meteor logo">

    <p class="content-text">To ensure we deliver on schedule, we opted to use the <a href="https://www.meteor.com/" target="_blank">Meteor framework</a>. We picked <a href="http://www.asiapay.com.hk/" target="_blank">AsiaPay</a> as the payment gateway, as it was the only one that supported all payment methods and currencies the firm requires.</p>

    <img class="content-image content-asiapay-logo" src="/images/logos/asiapay.png" alt="AsiaPay logo">

    <p class="content-text">We deployed the platform and site on <a href="https://www.digitalocean.com/?refcode=ea0a2a468eb7" target="_blank">DigitalOcean</a>, and later on helped with migration to the firm's own (Windows) servers.</p>

    <img class="content-image content-digitalocean-logo" src="/images/logos/digitalocean.png" alt="DigitalOcean logo">

    <p class="content-text">Students and their parents can now review the photos, order and pay online. The system also feeds into the firm's internal system, which alleviates the staff's workload and drives costs down.</p>

    <p class="content-text">After trial runs with local schools, schools from Singapore and Taiwan will come onboard with the new process. As the site becomes more popular, we have plans to make the site responsive.</p>
</template>