<template name="contactUs">
	<h1 class="page-title">Contact Us</h1>
	<p class="introduction-text">You can contact us by:</p>
	<table class="contact-us-table">
		<tbody>
			<tr><td>Telephone</td><td>+852 5113 0850</td></tr>
			<tr><td>Email</td><td><a href="mailto:dan@brew.com.hk">dan@brew.com.hk</a></td></tr>
			<tr><td>Twitter</td><td><a href="https://twitter.com/brew_hk" target="_blank">@brew_hk</a></td></tr>
			<tr><td>Facebook</td><td><a href="https://www.facebook.com/brewhk/">brewhk</a></td></tr>
			<tr><td>LinkedIn</td><td><a href="https://www.linkedin.com/company/brew-creative-limited">Brew Creative Limited</a></td></tr>
			<tr><td>Address</td><td>Brew Creative Limited<br>Room 1905<br>Nan Fung Centre<br>264-298 Castle Peak Road<br>Tsuen Wan<br>New Territories<br>Hong Kong</td></tr>
		</tbody>
	</table>
	<p class="introduction-text">Or you may fill out our <a href="https://brewhk.typeform.com/to/JgfddA" target="_blank">enquiry form</a>, and we will get back to you shortly!</p>
</template>