<template name="services">
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-branding.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Branding</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Brand Positioning</li>
				<li class="services-block__item">Brand Naming</li>
				<li class="services-block__item">Brand Message</li>
				<li class="services-block__item">Brand Identity</li>
				<li class="services-block__item">Logo Design</li>
				<li class="services-block__item">Typography Standards</li>
				<li class="services-block__item">Colour Scheme</li>
				<li class="services-block__item">Style Guide</li>
				<li class="services-block__item">Packaging Design</li>
				<li class="services-block__item">Stationery Design</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-planning.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Planning &amp; Research</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Market Research</li>
				<li class="services-block__item">Surveys</li>
				<li class="services-block__item">Functional Specification</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-design.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Design</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Information Architecture</li>
				<li class="services-block__item">Wireframing</li>
				<li class="services-block__item">User Interface (UI) Design</li>
				<li class="services-block__item">User Experience (UX)</li>
				<li class="services-block__item">Responsive Web Design</li>
				<li class="services-block__item">Prototyping</li>
				<li class="services-block__item">Graphics Design</li>
				<li class="services-block__item">Publications Design</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-development.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Development</h3>
			<ul class="services-block__list">
				<li class="services-block__item">E-Commerce</li>
				<li class="services-block__item">Landing Pages</li>
				<li class="services-block__item">Frontend Development</li>
				<li class="services-block__item">Backend Development</li>
				<li class="services-block__item">App Development</li>
				<li class="services-block__item">Desktop Application Development</li>
				<li class="services-block__item">Web Accessibility</li>
				<li class="services-block__item">Content Management System (CMS)</li>
				<li class="services-block__item">Search Engine Optimization (SEO)</li>
				<li class="services-block__item">SMS Integration</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-deployment.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Deployment</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Server Setup</li>
				<li class="services-block__item">DNS Configuration</li>
				<li class="services-block__item">Maintenance</li>
				<li class="services-block__item">Performance Testing</li>
				<li class="services-block__item">Stress Testing</li>
				<li class="services-block__item">Security Auditing</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-analytics.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Analytics &amp; Monitoring</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Web Analytics</li>
				<li class="services-block__item">Software Analytics</li>
				<li class="services-block__item">Social Media Analytics</li>
				<li class="services-block__item">Uptime Monitoring</li>
				<li class="services-block__item">Performance Monitoring</li>
				<li class="services-block__item">Status Page</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-marketing.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Marketing</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Content Marketing</li>
				<li class="services-block__item">Search Engine Marketing (SEM)</li>
				<li class="services-block__item">Social Media Integration</li>
				<li class="services-block__item">Social Media Campaign</li>
				<li class="services-block__item">Email Marketing</li>
				<li class="services-block__item">Online Advertising</li>
				<li class="services-block__item">Newspaper Advertising</li>
				<li class="services-block__item">TV Advertising</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-funding.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Funding</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Application Submission</li>
				<li class="services-block__item">Business Plan</li>
				<li class="services-block__item">Proposal Writing</li>
				<li class="services-block__item">Pitch Deck</li>
				<li class="services-block__item">Contacts &amp; Networking</li>
			</ul>
		</div>
	</div>
	<div class="services-block">
		<div class="services-block__graphics">
			<img src="/images/pictures/block-letter-others.png" alt="" class="services-block__letter">
		</div>
		<div class="services-block__text">
			<h3 class="services-block__title">Others</h3>
			<ul class="services-block__list">
				<li class="services-block__item">Copyediting</li>
				<li class="services-block__item">Photography</li>
				<li class="services-block__item">Photo Editing</li>
				<li class="services-block__item">Content Update</li>
				<li class="services-block__item">Printing</li>
				<li class="services-block__item">Retained Services</li>
			</ul>
		</div>
	</div>
	<p class="introduction-text"><a href="{{pathFor route='contact-us'}}">Contact us</a> for a free, no-obligation quote!</p>
</template>